[submodule "openfaas-gateway"]
	path = openfaas-gateway
	url = https://github.com/nightmare224/faas-gateway.git
[submodule "faasd"]
	path = faasd
	url = https://github.com/nightmare224/faasd
[submodule "openfaas-netes"]
	path = openfaas-netes
	url = https://github.com/nightmare224/faas-netes.git
